[Unit]
Description=Run X3 cluster discovery every 5 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
Persistent=false

[Install]
WantedBy=timers.target
